<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shanyan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <application>
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CmccLoginAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent" />

        <activity-alias
            android:name="com.cmic.gen.sdk.view.GenLoginAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:targetActivity="com.chuanglan.shanyan_sdk.view.CmccLoginAuthActivity"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent" />
    </application>
</manifest>
